## 체크퀴즈
### 1. 숫자형

In [19]:
#1번: 3.5
#2번: 3
#3번: 8

In [16]:
#4번
num = 10 * 18**2 + 2 *11
print(num)

3262

In [23]:
#5번
print(14 // 3) 
print(14 % 3)

4
2

### 2.문자열

In [24]:
# 1번
str = ''' 
그녀가 말했다. "안녕! 디오." 라고
나는 아무런 말도 할 수가 없었다.
이런 나를 보며 그녀는 싱긋 웃었다.
'''

print(str)

그녀가 말했다. "안녕! 디오." 라고
나는 아무런 말도 할 수가 없었다.
이런 나를 보며 그녀는 싱긋 웃었다.

In [26]:
# 2번
str1 = "안녕!"
str2 = "디오."

print(str1 + str2 * 3)

안녕!디오.디오.디오.

In [36]:
# 3번
str = '이런 나를 보며 그녀는 싱긋 웃었다.'

print(str[9:11])
print(str[13:])

그녀
싱긋 웃었다.

In [44]:
# 4번
print(f'{"python":!^12}')
print("{0:!^12}".format('python'))

!!!python!!!
!!!python!!!

In [46]:
# 5번
str = '이런 나를 보며 그녀는 싱긋 웃었다.'

print(str.replace("그녀", "그"))

이런 나를 보며 그는 싱긋 웃었다.

In [48]:
# 6번
str = '이지은/아이유/가수/배우'

print(str.split("/"))

['이지은', '아이유', '가수', '배우']

### 3. 리스트

In [17]:
# 1번
student = ["짱구", "철수", "훈이", "맹구", "유리"]
print(student[0])
print(student[3])

짱구
맹구

In [15]:
# 2번
student = ["짱구", "철수", ["훈이", "맹구", "유리"]]
print(student[2][0])
print(student[2][2])

훈이
유리

In [19]:
# 3번
student = ["짱구", "철수", "훈이", "맹구", "유리"]
result = student[2:4]
print(result)

['훈이', '맹구']

In [21]:
# 4번
children = ["짱구", "짱아"]
parent = ["신형만", "봉미선"]

family = children + parent
print(family)

['짱구', '짱아', '신형만', '봉미선']

In [25]:
# 5번
student = ["짱구", "철수", "훈이", "치타", "유리", "흰둥이"]
student[3] = "맹구"
del student[-1]

print(student)

['짱구', '철수', '훈이', '맹구', '유리']

In [27]:
# 6번

student = ["짱구", "철수", "훈이", "맹구", "유리", "짱구", "짱구"]
print(student.count("짱구"))

3

In [2]:
# 7번
student = ["짱구", "철수", "훈이", "맹구", "유리"]
index_num = student.index("훈이")
student.insert(index_num, "흰둥이")

print(student)

['짱구', '철수', '흰둥이', '훈이', '맹구', '유리']

### 4. 튜플

In [59]:
# 1번 

student = ("짱구", "철수", "훈이", "맹구", "유리")
print(student[0])
print(student[3])

짱구
맹구

In [73]:
# 2번

student = ("짱구", "철수", ("훈이", "맹구", "유리"))
print(student[1])
print(student[2][2])

철수
유리

In [77]:
# 3번 

student = ("짱구", "철수", "훈이", "맹구", "유리")
print(student[2:-1])

('훈이', '맹구')

In [83]:
# 4번
a = (1, 2, 3)

print(a + (4,))

(1, 2, 3, 4)

### 5. 딕셔너리

In [4]:
# 1번
first_class = {"class_name": "파이썬 기초", "professor": "나교수", "begin_date": "2024-08-01"}
print(first_class)

{'class_name': '파이썬 기초', 'professor': '나교수', 'begin_date': '2024-08-01'}

In [6]:
# 2번
major_professor = first_class['professor']
print(major_professor)

나교수

In [8]:
# 3번

first_class['end_date'] = "2024-09-01"
first_class['student_count'] = 30
print(first_class)

{'class_name': '파이썬 기초', 'professor': '나교수', 'begin_date': '2024-08-01', 'end_date': '2024-09-01', 'student_count': 30}

In [10]:
# 4번

first_class['class_name'] = "파이썬 심화"
print(first_class)

{'class_name': '파이썬 심화', 'professor': '나교수', 'begin_date': '2024-08-01', 'end_date': '2024-09-01', 'student_count': 30}

In [12]:
# 5번

del first_class['student_count']
print(first_class)

{'class_name': '파이썬 심화', 'professor': '나교수', 'begin_date': '2024-08-01', 'end_date': '2024-09-01'}

### 6. 집합

In [107]:
# 1번

name1 = set("김하나")
name2 = set("김하준")
name3 = set("이지하")

print(name1 & name2 & name3)

{'하'}

In [14]:
# 2번

name = set(["김하나", "김하준", "이지하"])
name_list = list(name)
person = name_list[1]

print(person)

이지하

### 7. 불(bool)

In [115]:
# 1번

print( bool(5 < 10) ) # True
print( bool("") ) # False
print( bool({"name" : "이지은"}) ) # True 
print( bool(()) ) # False
print( bool(10) ) # True

True
False
True
False
True