### 1. 초중급 Level

In [50]:
# 1번

time = 14

if time >= 6 and time <= 10:
    print("아침을 먹습니다.")
elif time >= 11 and time <= 14:
    print("점심을 먹습니다.")
elif time >= 15 and time <= 17:
    print("간식을 먹습니다.")
elif time >= 18 and time <= 20:
    print("저녁을 먹습니다.")
else:
    print("식사 시간이 아닙니다.")

점심을 먹습니다.

In [52]:
# 2번 

i = 1
sum = 0

while i <= 100:
    if i % 3 == 0:
        sum += i
    i += 1

print(sum)

1683

In [54]:
# 3번

sum = 0
i = 1

while i <= 20:
    # 2의 배수도 아니고 3의 배수도 아닌 경우
    if i % 2 != 0 and i % 3 != 0:
        sum += i  
    i += 1  

print(sum)

73

In [48]:
# 4번

numbers = [1, 5, 10, 13, 14, 20, 25, 32, 50] 

for i in numbers:
    if i % 5 == 0: print(i)

5
10
20
25
50

In [58]:
# 5번

scores = [70, 60, 55, 75, 40, 80, 90]
total = 0

for score in scores:
    total += score

average = total / len(scores)

print("평균", average)

평균 67.14285714285714

In [108]:
# 6번

while True: 
    num1 = int(input())
    num2 = int(input())
    print(f'num1:{num1}, num2:{num2}')

    if num1 + num2 == 5: break

 1
 4

num1:1, num2:4

In [106]:
# 7번 
for i in range(1, 7):
    for j in range(1, 7):
        if i + j == 6: print(f'i:{i}, j:{j}')

i:1, j:5
i:2, j:4
i:3, j:3
i:4, j:2
i:5, j:1

In [70]:
# 8번
for x in range(1, 11):
    for y in range(1, 11):
        if 4 * x + 5 * y == 60: print(f'x={x}, y={y}')

x=5, y=8
x=10, y=4

In [74]:
# 9번

for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

### 2. 고급 Level

In [94]:
# 1번

# 초기값 설정
a = 1 # 첫번째 값
b = 1 # 두번째 값
c = 0 # 세번째 값

for _ in range(8):  # 이미 두 개의 숫자(1, 1)를 알고 있으므로 8번만 반복
    c = a + b
    a = b
    b = c

print("피보나치 수열의 10번째 수는:", b)

피보나치 수열의 10번째 수는: 55

In [84]:
# 2번

for i in range(5, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [117]:
# 3번

n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * i)

    *
   **
  ***
 ****
*****

In [121]:
# 4번

run = True
balance = 0
menu = '''
---------------------
    1. 예금
    2. 출금
    3. 잔고
    4. 종료
---------------------
'''


while run: 
    print(menu)
    menu_num = int(input())
    if menu_num == 1:
        # print('예금액: ')
        balance += int(input('예금액: '))
    elif menu_num == 2:
        # print('출금액: ')
        balance -= int(input('출금액: '))
    elif menu_num == 3:
        # print('잔고: ')
        print('잔고: ', balance)
    elif menu_num == 4:
        run = False
    else:
        print('메뉴를 잘못 누르셨습니다.')

print('프로그램 종료')

---------------------
    1. 예금
    2. 출금
    3. 잔고
    4. 종료
---------------------

 1
예금액:  10000

---------------------
    1. 예금
    2. 출금
    3. 잔고
    4. 종료
---------------------

 2
출금액:  5000

---------------------
    1. 예금
    2. 출금
    3. 잔고
    4. 종료
---------------------

 3

잔고:  5000

---------------------
    1. 예금
    2. 출금
    3. 잔고
    4. 종료
---------------------

 4

프로그램 종료