### 1. 초~중급 Level

In [12]:
# 1번

kor = 80 # 국어
eng = 65 # 영어
math = 90 # 수학
average = (kor + eng + math) / 3

print(f'{average}점')

78.33333333333333점

In [22]:
# 2번

ssn = "930516-2234567"
birth = ssn[:6] #생년월일
num = ssn[7:] #주민번호 뒷자리

print(birth)
print(num)

930516
2234567

In [24]:
# 3번

ssn = "930516-2234567"
print(ssn[7])

2

In [28]:
# 4번

employee = "김무열, 오지영, 서지우, 안서준, 김하윤, 장지희"
result = employee.replace(',', '-')
print(result)

김무열- 오지영- 서지우- 안서준- 김하윤- 장지희

In [2]:
# 5번

a = [1, 3, 5, 4, 2]
a.sort() # 오름차순 정렬
a.reverse() # 거꾸로 정렬
print(a)

[5, 4, 3, 2, 1]

In [6]:
# 6번
a = ['Life', 'is', 'too', 'short'] 
result = " ".join(a)
print(result)

Life is too short

In [10]:
# 7번

a = dict()

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python' # 오류 발생: 키로 사용한 [1]은 리스트 이므로 변하는 값. key에 변하는 값은 사용 불가능. key는 문자열, 튜플, 숫자 등 변하지 않는 값만 사용 가능.
a[250] = 'python'

TypeError: unhashable type: 'list'

In [4]:
# 8번 

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a_set = set(a) # 집합 자료형으로 변경
b = list(a_set) # 집합 자료형을 리스트로 변경
print(b)

[1, 2, 3, 4, 5]

In [22]:
# 9번

a = b = [1, 2, 3]
a[1] = 4
print(b)

# a와 b변수는 동일한 리스트 객체를 가르키고 있기 때문이다. 실제 a, b 변수는 스택에서 주소를 가지고 있고 해당 주소를 따라 힙에가야 실제 리스트 데이터가 존재하는데
# a와 b변수가 가지고 있는 주소가 같다.

[1, 4, 3]

### 2. 고급 Level

In [34]:
# 10번

num = 333
print(num // 10 * 10 + 1)

331

In [50]:
# 11번

num = [3, 1, 2, 4, 6, 2, 3, 5, 0, 0]
k = 3 # 세번째

result = list(set(num))
# print(result)
print(result[k-1])

[0, 1, 2, 3, 4, 5, 6]
2

In [2]:
# 12번

word1 = "listen"
word2 = "silent"

word1_list = list(word1)
word2_list = list(word2)

word1_list.sort()
word2_list.sort()

print(word1_list == word2_list)

True