### 1. 초중급 level

In [42]:
# 1번

def greet(name, message="Welcome"):
    return f"{message}, {name}!"

result1 = greet("Bob")
result2 = greet("Jane", "Good to see you")

print(result1)
print(result2)

Welcome, Bob!
Good to see you, Jane!

In [50]:
# 2번

def introduce(name, age, city):
    return f"My name is {name}, I am {age} years old, and I live in {city}."

print(introduce(name="Alice", age=25, city="New York"))
print(introduce(age=30, name="Bob", city="Los Angeles"))

My name is Alice, I am 25 years old, and I live in New York.
My name is Bob, I am 30 years old, and I live in Los Angeles.

In [52]:
# 3번 
def is_odd(number):
    if number % 2 == 0:
        return True
    else: 
        return False


is_odd(5)

False

In [80]:
# 4번 

weight = 50
height = 160

def get_bmi(weight, height):
    bmi = weight / (height * height)
    return bmi

get_bmi(weight, height)

0.001953125

In [82]:
# 5번

def get_sum_average(*scores):
    sum = 0
    for score in scores:
        sum += score
    average = sum / len(scores)
    return sum, average

sum, average = get_sum_average(70, 90, 98, 60, 34, 99)

print("합계:", sum)
print("평균:", average)

합계: 451
평균: 75.16666666666667

### 2. 고급 level

In [58]:
# 1번

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(3))

6

In [60]:
# 2번

def double_even_numbers(numbers):
    return [n * 2 for n in numbers if n % 2 == 0]

print(double_even_numbers([1, 2, 3, 4, 5, 6]))

[4, 8, 12]

In [84]:
# 3번: 최대값

def find_max(numbers):
    if not numbers:
        return None  # 리스트가 비어 있을 때 None 반환

    max_value = numbers[0]
    for num in numbers[1:]:
        if num > max_value:
            max_value = num
    return max_value

# 테스트
print(find_max([3, 1, 4, 1, 5, 9, 2, 6]))  # 출력: 9

9

In [88]:
# 3번: 최소값

def find_min(numbers):
    if not numbers:
        return None  # 리스트가 비어 있을 때 None 반환

    min_value = numbers[0]
    for num in numbers[1:]:
        if num < min_value:
            min_value = num
    return min_value

# 테스트
print(find_min([3, 1, 4, 1, 5, 9, 2, 6]))  # 출력: 1

1

In [90]:
# 4번

def two_sum(nums, target):
    num_map = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in num_map:
            return [num_map[complement], i]
        num_map[num] = i

# 테스트
print(two_sum([2, 7, 11, 15], 9))  # 출력: [0, 1]

[0, 1]